---
layout: layouts/base.njk
title: About Me
---

<h1>About Me</h1>

<p>Hi, I'm Minh Quan (Ben) Tran, a passionate and driven Computer Science graduate based in Plymouth, MN. With a strong foundation in programming languages like Python, Java, and JavaScript, and hands-on experience in frameworks like Jetpack Compose and Bootstrap, I specialize in building efficient, user-friendly applications and websites.</p>

<p>Throughout my academic journey and project work, I've collaborated with teams to deliver impactful solutions, such as a blogging dashboard deployed on Bluehost and a real-time multiplayer application utilizing advanced threading techniques. My commitment to continuous learning and adaptability has equipped me to tackle diverse challenges and thrive in dynamic environments.</p>

<p>Beyond my technical skills, I value teamwork and problem-solving. Whether designing responsive user interfaces, optimizing game logic, or troubleshooting technical issues, I approach each task with precision and creativity.</p>

<p>When I'm not coding, you can find me exploring technology trends, improving my skills, or enjoying gaming and history. Feel free to reach out—I’m always open to connecting and discussing new opportunities!</p>

<img src="/assets/37812921.jpg" alt="Profile" style="max-width: 150px; height: auto; border-radius: 50%; margin-top: 20px;">
